@tailwind base;
@tailwind components;
@tailwind utilities;

@import './theme.scss';
@import './text.scss';

:root {
	--navbar-height: 64px;
}

html {
	display: block;
	font-size: 14px;
	height: 100%;

	@media (min-width: 1024px) {
		font-size: 16px;
	}
}

body {
	height: 100%;
}
