@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./theme.scss";
@import "./text.scss";

:root {
    --navbar-height: 64px;
}

html {
    display: block;
    font-size: 14px;
    height: 100%;
    overflow: hidden;

    @media (min-width: 1024px) {
        font-size: 16px;
    }
}

body {
    height: 100%;
    overflow: hidden;
}

.topic-tags {
    @apply hidden md:flex overflow-x-scroll gap-1 mt-[2px];

    .topic-tag {
        @apply inline-block bg-zinc-700 rounded-full font-semibold
               px-[6px] py-[1px] text-[10px] text-nowrap;
    }

    &::-webkit-scrollbar {
        @apply hidden;
    }
}
