[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
djangorestframework = "*"
channels = {extras = ["daphne"], version = "*"}
django-cors-headers = "*"
django-filter = "*"
drf-nested-routers = "*"
django-environ = "*"
psycopg2 = "*"
channels-redis = "*"

[dev-packages]

[requires]
python_version = "3.10"
